{#		STRONA GŁÓWNA DLA ZALOGOWANEGO UŻYTKOWNIKA		#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	 <link rel="stylesheet" href="{{ asset('build/css/style_game.css') }}" type="text/css" />
{% endblock %}

{% block main %}

	<div class="sorce_container">
		<div id="background_game">
			<div id="field">
				{% for krotka in the_res %}
					<div class="field_box" id="f{{ krotka['krotka_ID'] }}"><img src="{{ asset('build/img/trawa0.png') }}" /></div>
				{% else %}
					error
				{% endfor %}
				
			</div>
		</div>
		<div id="menu_game">
			<button class="button_game_off" id="button_game_0">Łopata</button>
			<button class="button_game_off" id="button_game_1">Konewka</button>
			<button class="button_game_off" id="button_game_2">Sekator</button>
			<button class="button_game_off" id="button_game_3">Siekierka</button>
			<button class="button_game_off" id="button_game_4">Kilof</button>
			<button class="button_game_off" id="button_game_5">Nasiona</button>
			<button class="button_game_off" id="button_game_6">Nawozy</button>
		</div>
		<div style="clear:both;"></div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/javascript/fun_game.js') }}"></script>
{% endblock %}