{% extends 'base.html.twig' %}

{% block main %}

	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4 bg-dark">
			</div>
			<div class="col-md-9 col-sm-8 bd-warning">
				<h1>Hello {{ the_title }}! ✅</h1>
			</div>
		</div>
	</div>
	
{% endblock %}
