{#		STRONA GŁÓWNA DLA NIEZALOGOWANEGO UŻYTKOWNIKA	 #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/css/admin.css') }}" type="text/css" />
{% endblock %}
	
{% block main %}
	
	<div class="index_container">
		<div class="info">
			<h1>Witaj na naszej stronie internetowej {{ the_title }}</h1><br />
		</div>
	</div>
	
{% endblock %}
